img {
    display: block;
}

p {
    text-align: justify;
}

/* Centrer un élément (une image) */
.center {
    display: block;
    margin: 0 auto;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

